*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    min-height: 100vh;
    background: url(ios-13-stock-ipados-blue-black-background-amoled-ipad-hd-3840x2160-795.jpg)center no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
}

.login_box{
    width: 400px;
    padding: 45px;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(40px);
    border-radius: 2em;
}

.login_box h2{
    margin: 0 0 30px;
    padding: 0;
    color: white;
    text-align: center;
}

.login_box .input_box{
    position: relative;
}

.login_box .input_box input{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: white;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    background-color: transparent;
}

.login_box .input_box label{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 18px;
    color: white;
    pointer-events: none;
    transition: 0.5s ease;
}

.login_box .input_box input:focus ~label,
.login_box .input_box input:valid ~label{
    top: -20px;
    left: 0;
    color: white;
    font-size: 14px;
}

.btn{
    margin: 0 auto;
    position: relative;
    display: inline-block;
    padding: 10px 120px;
    color: black;
    font-size: 18px;
    background-color: white;
    border-radius: 1em;
    transition: 0.4s ease-in-out;
    margin: 25px 0;
    letter-spacing: 4px;
    border: 2px solid white;
    cursor: pointer;
}

.btn:hover{
    background-color: transparent;
    color: white;
}

.sign_up{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    color: white;
}

.sign_up a{
    color: white;
    text-decoration: none;
}

.sign_up a:hover{
    text-decoration: underline;
}

.remember{
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 14px;
    color: white;
}

.socials_login{
    display: flex;
    flex-direction: column;
    gap: 1em;
    text-align: center;
}

.socials_login span{
    color: white;
    font-size: 14px;
    margin-top: 1em;
}

hr{
    border: none;
    outline: none;
    background-color: white;
    border-radius: 1em;
    height: 3px;
    margin: 5px 50px;
}

.login{
    display: flex;
    align-items: center;
    gap: 0.5em;
    justify-content: center;
    padding: 10px 10px;
    border: 2px solid white;
    border-radius: 1em;
    color: white;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.login:hover{
    background-color: white;
    color: black;
}